p{
    font-size:40px;
    background-color:red;
    border:solid 20px khaki;
    padding: 50px;
    margin: 50px 50px 50px 50px;
}
body{
    background-color: #345ef4;
}
.container{
    margin: 0px auto;
}
.navbar{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: bisque;
    transition: .5s;
}